
<div id="home" class="main-container">
    <div class="bg-icon1"></div>
    <h1>Connect. Convert. Close!</h1>
    <p>Designed to empower companies across diverse industries to optimize lead management and elevate client engagement.<br/><span>Build stronger connections</span></p>
    <button onclick="navigateTo('/register')" class="try-free-btn">Try Now for Free</button>
</div>

<div class="partners-container">
    <h1> Technology partners</h1>
    <div class="logo-container">

        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="60" viewBox="0 0 200 60" fill="none">
            <path
                    d="M86.9315 33.8093H99.7077L92.9414 22.9854L80.5014 42.5101H74.8698L89.9995 19.0721C91.1342 17.4485 93.4037 17.0738 95.0007 18.1979C95.3369 18.4476 95.6311 18.6974 95.8833 19.0305L111.055 42.5101H105.423L102.776 38.1389H89.8314L86.9315 33.8093ZM145.685 38.1805V17.8232H140.894V40.1788C140.894 40.8033 141.146 41.4277 141.609 41.844C142.071 42.302 142.701 42.5518 143.374 42.5518H165.186L168.043 38.1805H145.685ZM66.2963 34.5171C70.9613 34.5171 74.7437 30.7703 74.7437 26.1493C74.7437 21.5283 70.9613 17.7815 66.2963 17.7815H45.3249V42.5101H50.0739V22.1944H65.9601C68.1875 22.1944 69.9947 23.9845 69.9947 26.1909C69.9947 28.3974 68.1875 30.1875 65.9601 30.1875H52.4274L66.7586 42.5101H73.7351L64.1109 34.5171H66.2963ZM15.822 42.5101H30.3213C37.2137 42.3436 42.6352 36.6402 42.4671 29.8544C42.299 23.2768 36.9195 17.9897 30.3213 17.8232H15.822C8.9296 17.6567 3.17191 23.027 3.00381 29.8544C2.8357 36.6818 8.25717 42.3436 15.1496 42.5101C15.3597 42.5518 15.5699 42.5518 15.822 42.5101ZM29.9851 38.1805H16.1162C11.6613 38.0557 8.17312 34.3505 8.2992 29.9377C8.42528 25.733 11.8715 22.3193 16.1162 22.1944H29.9851C34.4399 22.0695 38.1803 25.5248 38.3064 29.9377C38.4325 34.3505 34.9443 38.0557 30.4894 38.1805C30.3213 38.1805 30.1532 38.1805 29.9851 38.1805ZM121.057 42.5101H135.851L138.667 38.1805H121.394C116.939 38.3054 113.198 34.8501 113.072 30.4373C112.946 26.0244 116.434 22.3193 120.889 22.1944C121.057 22.1944 121.225 22.1944 121.394 22.1944H135.473L138.33 17.8232H121.099C114.207 17.6567 108.491 23.027 108.323 29.8544C108.155 36.6818 113.577 42.3436 120.469 42.5101C120.637 42.5518 120.847 42.5518 121.057 42.5101ZM179.727 38.1805C176.113 38.1805 172.919 35.8076 171.952 32.3523H192.461L195.277 27.981H171.952C172.919 24.5257 176.113 22.1528 179.727 22.1528H193.806L196.622 17.7815H179.391C172.498 17.9897 167.077 23.6515 167.245 30.4789C167.413 37.0565 172.75 42.3436 179.391 42.5101H194.184L197 38.1805H179.727Z"
                    fill="white"/>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="61" viewBox="0 0 200 61" fill="none">
            <path
                    d="M77.7395 22.021C77.7395 23.2914 77.909 24.3078 78.0785 25.07C78.3328 25.8323 78.6718 26.5946 79.1803 27.5262C79.3498 27.7803 79.4346 28.0344 79.4346 28.2885C79.4346 28.6273 79.2651 28.9661 78.7565 29.3048L76.6377 30.7447C76.2987 30.9141 76.0445 31.0835 75.7902 31.0835C75.4512 31.0835 75.1122 30.9141 74.7732 30.5753C74.2647 30.0671 73.9257 29.5589 73.5867 28.9661C73.2476 28.3732 72.9086 27.7803 72.5696 26.9333C69.9423 30.0671 66.637 31.5916 62.5689 31.5916C59.6873 31.5916 57.4837 30.7447 55.7887 29.1354C54.0936 27.5262 53.2461 25.3241 53.2461 22.6138C53.2461 19.7342 54.2631 17.3627 56.2972 15.6688C58.3312 13.9748 61.1281 13.0432 64.6029 13.0432C65.7894 13.0432 66.976 13.1279 68.1625 13.2973C69.4338 13.4667 70.7051 13.7208 72.0611 14.0595V11.6034C72.0611 9.06248 71.5526 7.19917 70.4508 6.18281C69.349 5.16646 67.5692 4.65828 64.9419 4.65828C63.7554 4.65828 62.5689 4.82768 61.2976 5.08176C60.0263 5.42055 58.8397 5.75933 57.6532 6.26751C57.1447 6.4369 56.7209 6.60629 56.4667 6.69099C56.2124 6.69099 56.0429 6.77568 55.9582 6.77568C55.4497 6.77568 55.2801 6.4369 55.2801 5.75933V4.06541C55.2801 3.55723 55.3649 3.13375 55.5344 2.87967C55.7039 2.62558 56.0429 2.37149 56.4667 2.2021C57.6532 1.60923 59.094 1.10105 60.7043 0.677568C62.3993 0.254088 64.0944 0 65.9589 0C70.0271 0 72.9086 0.931657 74.8579 2.71027C76.7225 4.57359 77.6548 7.28386 77.6548 11.0952L77.7395 22.021ZM64.0096 27.1874C65.1114 27.1874 66.298 27.018 67.4845 26.5946C68.671 26.1711 69.7728 25.4088 70.7051 24.3925C71.2136 23.7149 71.6374 23.0373 71.8916 22.1904C72.0611 21.3434 72.2306 20.4117 72.2306 19.226V17.7862C71.2136 17.5321 70.1966 17.3627 69.0948 17.1933C67.993 17.0239 66.976 17.0239 65.8742 17.0239C63.5859 17.0239 61.9756 17.4474 60.7891 18.379C59.6873 19.3107 59.094 20.5811 59.094 22.2751C59.094 23.8843 59.5178 25.07 60.3653 25.8323C61.2128 26.8487 62.3993 27.1874 64.0096 27.1874ZM91.2151 30.9141C90.6219 30.9141 90.1981 30.8294 89.9439 30.5753C89.6896 30.4059 89.4353 29.8977 89.2658 29.2201L81.2991 2.96436C81.1296 2.28679 80.9601 1.86331 80.9601 1.60923C80.9601 1.10105 81.2144 0.762265 81.8076 0.762265H85.113C85.791 0.762265 86.2148 0.846961 86.469 1.10105C86.7233 1.27044 86.9775 1.77862 87.147 2.45619L92.8254 24.9006L98.0801 2.45619C98.2496 1.77862 98.4191 1.35514 98.7581 1.10105C99.0124 0.931657 99.5209 0.762265 100.114 0.762265H102.826C103.504 0.762265 103.928 0.846961 104.182 1.10105C104.437 1.27044 104.691 1.77862 104.86 2.45619L110.2 25.1547L116.048 2.45619C116.217 1.77862 116.471 1.35514 116.726 1.10105C116.98 0.931657 117.404 0.762265 118.082 0.762265H121.217C121.726 0.762265 122.065 1.01635 122.065 1.60923C122.065 1.77862 122.065 1.94801 121.98 2.1174C121.98 2.28679 121.895 2.62558 121.726 2.96436L113.505 29.2201C113.335 29.8977 113.081 30.3212 112.827 30.5753C112.573 30.7447 112.149 30.9141 111.556 30.9141H108.674C107.996 30.9141 107.572 30.8294 107.318 30.5753C107.064 30.3212 106.81 29.8977 106.64 29.2201L101.385 7.36856L96.1308 29.2201C95.9613 29.8977 95.7918 30.3212 95.4528 30.5753C95.1985 30.8294 94.69 30.9141 94.0967 30.9141H91.2151ZM134.863 31.761C133.083 31.761 131.303 31.5916 129.608 31.1682C127.913 30.7447 126.557 30.3212 125.709 29.813C125.201 29.4742 124.777 29.1354 124.692 28.8814C124.608 28.6273 124.438 28.2038 124.438 27.9497V26.2558C124.438 25.5782 124.692 25.2394 125.201 25.2394C125.37 25.2394 125.625 25.2394 125.794 25.3241C125.964 25.4088 126.303 25.4935 126.642 25.6629C127.828 26.1711 129.015 26.5946 130.371 26.8486C131.727 27.1027 133.083 27.2721 134.439 27.2721C136.558 27.2721 138.253 26.9333 139.354 26.1711C140.541 25.4088 141.134 24.3078 141.134 22.9526C141.134 22.021 140.795 21.2587 140.202 20.5811C139.609 19.9036 138.422 19.3954 136.812 18.8025L131.896 17.278C129.438 16.5157 127.574 15.33 126.472 13.8055C125.37 12.2809 124.777 10.6717 124.777 8.89309C124.777 7.45325 125.116 6.18281 125.709 5.16646C126.303 4.15011 127.15 3.13375 128.167 2.37149C129.184 1.60923 130.371 1.01635 131.727 0.592872C133.083 0.169392 134.524 0 135.964 0C136.727 0 137.49 1.26207e-08 138.253 0.169392C139.015 0.254088 139.778 0.42348 140.456 0.508176C141.134 0.677568 141.812 0.846961 142.406 1.01635C142.999 1.18574 143.507 1.43983 143.846 1.60923C144.355 1.86331 144.694 2.1174 144.863 2.45619C145.033 2.71027 145.202 3.13375 145.202 3.55723V5.16646C145.202 5.84403 144.948 6.26751 144.44 6.26751C144.185 6.26751 143.762 6.09812 143.168 5.84403C141.219 4.99707 139.1 4.48889 136.642 4.48889C134.693 4.48889 133.168 4.82768 132.151 5.42055C131.133 6.01342 130.54 7.02977 130.54 8.46961C130.54 9.40126 130.879 10.2482 131.557 10.8411C132.235 11.5187 133.507 12.1115 135.286 12.7044L140.117 14.2289C142.575 14.9912 144.355 16.0923 145.372 17.4474C146.389 18.8025 146.897 20.4117 146.897 22.1904C146.897 23.6302 146.558 24.9853 146.05 26.0864C145.457 27.2721 144.609 28.2885 143.592 29.0508C142.575 29.8977 141.304 30.4906 139.863 30.9141C138.168 31.5916 136.558 31.761 134.863 31.761Z"
                    fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M141.304 48.2765C130.117 56.4921 113.844 60.8963 99.9449 60.8963C80.3671 60.8963 62.7386 53.6971 49.4325 41.6702C48.4155 40.7386 49.3478 39.4681 50.6191 40.1457C65.027 48.5306 82.7402 53.5277 101.131 53.5277C113.505 53.5277 127.15 50.9868 139.694 45.651C141.474 44.8887 143.084 46.9214 141.304 48.2765Z"
                  fill="#FF9900"/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M145.881 43.0255C144.44 41.1622 136.473 42.1785 132.829 42.602C131.727 42.7714 131.558 41.755 132.575 41.0775C138.931 36.5886 149.44 37.859 150.627 39.3836C151.814 40.9081 150.288 51.4104 144.355 56.4075C143.423 57.1697 142.576 56.7463 142.999 55.7299C144.355 52.3421 147.322 44.8041 145.881 43.0255Z"
                  fill="#FF9900"/>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="60" viewBox="0 0 200 60" fill="none">
            <path
                    d="M43.7634 23.7705V28.7909H55.8792C55.5575 31.5682 54.5926 33.7045 53.0915 35.0932C51.376 36.8023 48.5883 38.725 43.7634 38.725C36.3653 38.725 30.5754 32.7432 30.5754 25.3727C30.5754 18.0023 36.258 12.0205 43.7634 12.0205C47.7305 12.0205 50.7327 13.6227 52.8771 15.6523L56.4153 12.1273C53.4132 9.24318 49.3388 7 43.7634 7C33.5776 7 25 15.225 25 25.3727C25 35.5205 33.5776 43.7455 43.7634 43.7455C49.2316 43.7455 53.4132 41.9295 56.6297 38.6182C59.9535 35.3068 61.0257 30.6068 61.0257 26.8682C61.0257 25.6932 60.9185 24.625 60.8113 23.7705H43.7634Z"
                    fill="#4285F4"/>
            <path
                    d="M76.0369 19.6045C69.4965 19.6045 64.0283 24.6249 64.0283 31.4613C64.0283 38.2977 69.3893 43.3181 76.0369 43.3181C82.6845 43.3181 88.0455 38.4045 88.0455 31.5681C88.0455 24.6249 82.6845 19.6045 76.0369 19.6045ZM76.0369 38.7249C72.3914 38.7249 69.2821 35.734 69.2821 31.5681C69.2821 27.2954 72.3914 24.4113 76.0369 24.4113C79.6824 24.4113 82.7917 27.2954 82.7917 31.5681C82.7917 35.734 79.6824 38.7249 76.0369 38.7249Z"
                    fill="#EA4335"/>
            <path
                    d="M134.685 22.2749H134.471C133.291 20.8863 131.04 19.6045 128.145 19.6045C122.141 19.6045 116.994 24.7318 116.994 31.4613C116.994 38.084 122.141 43.3181 128.145 43.3181C131.04 43.3181 133.291 42.0363 134.471 40.6477H134.685V42.3568C134.685 46.8431 132.219 49.2999 128.359 49.2999C125.143 49.2999 123.213 47.0568 122.355 45.0272L117.852 46.9499C119.139 50.0477 122.677 53.9999 128.467 53.9999C134.578 53.9999 139.832 50.3681 139.832 41.609V20.2454H134.9V22.2749H134.685ZM128.681 38.7249C125.036 38.7249 122.355 35.6272 122.355 31.5681C122.355 27.4022 125.143 24.4113 128.681 24.4113C132.219 24.4113 135.007 27.509 135.007 31.6749C135.114 35.734 132.327 38.7249 128.681 38.7249Z"
                    fill="#4285F4"/>
            <path
                    d="M102.734 19.6045C96.1938 19.6045 90.7256 24.6249 90.7256 31.4613C90.7256 38.2977 96.0866 43.3181 102.734 43.3181C109.382 43.3181 114.743 38.4045 114.743 31.5681C114.743 24.6249 109.382 19.6045 102.734 19.6045ZM102.734 38.7249C99.0887 38.7249 95.9793 35.734 95.9793 31.5681C95.9793 27.2954 99.0887 24.4113 102.734 24.4113C106.38 24.4113 109.489 27.2954 109.489 31.5681C109.489 35.734 106.38 38.7249 102.734 38.7249Z"
                    fill="#FBBC05"/>
            <path d="M143.799 7.53418H148.945V43.4251H143.799V7.53418Z" fill="#34A853"/>
            <path
                    d="M164.814 38.7249C162.133 38.7249 160.31 37.5499 159.024 35.0931L175 28.5772L174.463 27.1886C173.498 24.5181 170.389 19.6045 164.278 19.6045C158.166 19.6045 153.02 24.4113 153.02 31.4613C153.02 38.084 158.059 43.3181 164.814 43.3181C170.282 43.3181 173.391 40.0068 174.785 38.084L170.711 35.4136C169.317 37.4431 167.494 38.7249 164.814 38.7249ZM164.492 24.0909C166.636 24.0909 168.459 25.159 168.995 26.6545L158.273 31.1409C158.166 26.2272 161.812 24.0909 164.492 24.0909Z"
                    fill="#EA4335"/>
        </svg>

    </div>
</div>

<div id="solutions" class="solutions-container">
    <div class="bg-icon2"></div>
    <div class="left-side">
        <span class="mini-header">Create Teams</span>
        <h2>Stay aligned, move swiftly, and collectively build a better - <span>Future</span></h2>
        <p>Elevate teamwork efficiency with our dynamic crew feature, enabling hassle-free creation and management of digital profiles for your entire workforce.</p>
    </div>
    <div class="right-side">
        <div class="solutions-icon"></div>
    </div>
</div>

<div class="carousal-container">
    <div class="bg-icon2"></div>
    <div class="left-side">
        <div class="header-div">
            <img src="assets/leadsIcon.svg" class="icon"/>
            <h1> Leads management</h1>
        </div>
        <h2>Network effortlessly, generate leads seamlessly</h2>
        <p>Revolutionize your lead management strategy with our comprehensive suite of tools, driving unparalleled success in business growth and conversion</p>
    </div>
    <div class="right-side">
        <div class="blur-div"></div>
        <img src="assets/leadsPage.png" class="leadpage"/>
    </div>
</div>

<div id="key-benefits" class="key-benefits-container">
    <h1>key benefits</h1>
    <h3>Your business will reach</h3>
    <h4>unprecedented heights</h4>
    <div class="bottom">
        <div class="left-side"></div>
        <div class="right-side">
            <div class="active-card">
                <h2>Network Better</h2>
                <p>Our platform facilitates seamless networking among team members by providing a centralized hub for digital profiles, enabling easy access to contact information.</p>
            </div>
            <div class="in-active-card">
                <h2>Custom Digital Profiles</h2>
                <p>Elevate your online presence with customizable digital profiles that showcase your skills, experience, and accomplishments.</p>
            </div>
            <div class="in-active-card">
                <h2>Lead Generation</h2>
                <p>Leverage the comprehensive data within our digital profiles to identify potential leads and cultivate meaningful connections.</p>
            </div>
        </div>
    </div>
</div>

<div class="contact-container">
    <div class="inner-div">
        <div class="noise-div"></div>
        <div class="bg-div"></div>
        <div class="left-blob"></div>
        <div class="box">
            <h1>Built for Businesses, Startups and Individuals</h1>
            <p>Subscript is built to help finance teams get more accurate revenue data, faster, way in-depth, and with a lot less effort.</p>
            <a onclick="scrollToSection('contact')">Contact us <img src="assets/chevron-right.svg" class="icon"/></a>
        </div>
    </div>
</div>

<div id="contact" class="get-in-touch-container">
    <div class="blob"></div>
    <h2>Get in Touch</h2>
    <p>Your Questions, Ideas, and Collaborations Are Welcome – We're Here to Listen and Assist</p>
    <form id="contact-form" method="post" action="http://localhost:4000/contacts">
        <input required type="text" id="fname" name="name" class="input-field" placeholder="Name" autocomplete="name"/>
        <input required type="email" id="lname" class="input-field" name="email" placeholder="Email" autocomplete="email"/>
        <textarea required name="message" placeholder="Message" class="text-field"></textarea>
        <button type="submit" id="submit-btn">SUBMIT</button>
    </form>
    <div class="utils">
        <svg class="util-icon" xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
            <path d="M16.2049 0.424255V2.35269C18.1123 2.35269 19.8992 2.8348 21.5657 3.79902C23.1518 4.74315 24.4167 6.00869 25.3603 7.59563C26.3241 9.26292 26.8059 11.0507 26.8059 12.9591H28.7334C28.7334 10.6892 28.1612 8.57994 27.0168 6.63141C25.9125 4.74315 24.4167 3.2466 22.5294 2.14177C20.5819 0.99676 18.4737 0.424255 16.2049 0.424255ZM6.23636 3.31691C5.69426 3.31691 5.22243 3.48766 4.82088 3.82915L1.71888 6.99299L1.80923 6.93273C1.30729 7.35458 0.976004 7.87686 0.815382 8.49959C0.674839 9.12231 0.714994 9.72495 0.935848 10.3075C1.49802 11.8743 2.25094 13.4814 3.19459 15.1286C4.51971 17.3985 6.09581 19.4374 7.92288 21.2453C10.8542 24.1983 14.4983 26.5285 18.8552 28.2359H18.8853C19.4675 28.4368 20.0498 28.477 20.6321 28.3565C21.2344 28.2359 21.7664 27.9748 22.2282 27.573L25.27 24.5297C25.6716 24.128 25.8723 23.6358 25.8723 23.0533C25.8723 22.4506 25.6716 21.9484 25.27 21.5467L21.3247 17.5693C20.9232 17.1675 20.4212 16.9666 19.8189 16.9666C19.2166 16.9666 18.7146 17.1675 18.3131 17.5693L16.4157 19.4977C14.8898 18.7745 13.5647 17.8806 12.4404 16.816C11.316 15.7312 10.4226 14.4155 9.75999 12.8687L11.6874 10.9403C12.1091 10.4983 12.3199 9.97604 12.3199 9.37341C12.3199 8.75068 12.079 8.24849 11.5971 7.86682L11.6874 7.95721L7.65183 3.82915C7.25028 3.48766 6.77845 3.31691 6.23636 3.31691ZM16.2049 4.28113V6.20957C17.4297 6.20957 18.554 6.51088 19.578 7.11352C20.622 7.71616 21.4452 8.53976 22.0475 9.58433C22.6499 10.6088 22.951 11.7337 22.951 12.9591H24.8785C24.8785 11.3922 24.487 9.93587 23.7039 8.58998C22.9209 7.28427 21.8769 6.2397 20.5718 5.45627C19.2266 4.67284 17.771 4.28113 16.2049 4.28113ZM6.23636 5.24535C6.29659 5.24535 6.36686 5.27548 6.44717 5.33574L10.3924 9.37341C10.4125 9.45376 10.3924 9.52407 10.3322 9.58433L7.47113 12.4167L7.68195 13.0194L8.07346 13.8631C8.39471 14.546 8.76614 15.2089 9.18778 15.8518C9.77003 16.7557 10.4125 17.5291 11.1152 18.1719C12.0589 19.0959 13.1933 19.9396 14.5184 20.703C15.181 21.0846 15.7431 21.3659 16.2049 21.5467L16.8073 21.8179L19.7286 18.8951C19.7687 18.8549 19.7988 18.8348 19.8189 18.8348C19.839 18.8348 19.8691 18.8549 19.9093 18.8951L23.975 22.9629C24.0151 23.003 24.0352 23.0332 24.0352 23.0533C24.0352 23.0533 24.0151 23.0733 23.975 23.1135L20.9633 26.0966C20.5216 26.4782 20.0398 26.5787 19.5177 26.3979C15.4219 24.8109 12.0087 22.6415 9.27812 19.8894C7.5916 18.202 6.11589 16.2836 4.851 14.1342C3.9475 12.5875 3.24478 11.0909 2.74284 9.64459V9.61446C2.66253 9.43367 2.65249 9.22275 2.71272 8.98169C2.77296 8.72055 2.88338 8.51967 3.044 8.37906L6.02554 5.33574C6.08577 5.27548 6.15605 5.24535 6.23636 5.24535ZM16.2049 8.138V10.0664C17.008 10.0664 17.6907 10.3477 18.2528 10.9101C18.815 11.4726 19.0961 12.1556 19.0961 12.9591H21.0236C21.0236 12.0953 20.8027 11.2918 20.361 10.5485C19.9394 9.8053 19.3571 9.22275 18.6142 8.8009C17.8714 8.35897 17.0683 8.138 16.2049 8.138Z"
                  fill="white"/>
        </svg>
        <div class="util-dets">
            <label>PHONE</label>
            <a href="tel:+92-3189464829">+92-3189464829</a>
        </div>
        <svg class="util-icon" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
            <path d="M7.95455 2.625V4.59624L1.75 8.63565V25.375H26.5682V8.63565L20.3636 4.59624V2.625H7.95455ZM10.0227 4.69318H18.2955V12.6428L14.1591 15.3249L10.0227 12.6428V4.69318ZM11.0568 6.76136V8.82955H17.2614V6.76136H11.0568ZM7.95455 7.0522V11.2855L4.6907 9.18501L7.95455 7.0522ZM20.3636 7.0522L23.6275 9.18501L20.3636 11.2855V7.0522ZM11.0568 9.86364V11.9318H17.2614V9.86364H11.0568ZM3.81818 11.0916L14.1591 17.7809L24.5 11.0916V23.3068H3.81818V11.0916Z" fill="white"/>
        </svg>
        <div class="util-dets">
            <label>EMAIL</label>
            <a href="mailto:support@muneeb.one">support@muneeb.one</a>
        </div>
    </div>
</div>
<script src="JS/homepage.js"></script>
