@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Thin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}


body{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.container {
    width: 1000px;
    height: 98.5vh; 
    background: #fff;    
    display: flex;
    color: #fff;
    font-size: 100px;
    font-weight: 600;
}
.nav-bar {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    background: #191919;
}
.profile-pic {
    align-self: center;
    height: 140px;
    width: 140px;
    min-height: 140px;
    min-width: 140px;
    border: 5px solid #2dbcad;
    object-fit: cover;
    border-radius: 50%;
    margin: 0px 1.5vw;    
    object-position:10%;
}
.header-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.name{
    font-size: 42px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}